
header {
  background-color: #007BFF;
  color: #fff;
  padding: 20px;
  text-align: center;
}
table {
    width: 100%; 
    border-collapse: collapse; 
  }
 th, tr{
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  } 
  .fotocolegio{
      width: 600px; 
      height: 500px; 
    }
    .logo {
      width: 200px;
      height: 200px;
      margin-right: 10px; 
    }
    
    h2 {
      font-size: 200%;
      font-weight: bold;
      text-align: center; 
      height: 100px;
    }
    div{
      text-align: center;
      justify-content: center;
    }
  .content {
      display: flex;
      align-items: center;
      text-align: center; 
  }
  
  .fotocolegio {
      width: 600px;
      height: 500px;
  }
  
  p {
      flex: 1; 
      padding: 20px; 
      font-size: 200%;
  }
  h3{
    font-size: 200%;   
    font-weight: bold;
    margin-bottom: 10px; 
    padding: 5% 0;
  } 
  .rodape{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
 body{
  background: linear-gradient(to bottom, #00ffff, #001aff);
  margin: 0;
    
 }  
  
